In [ ]:

import pandas as pd
pd.set_option('display.max_colwidth', None)
df_mortalitat = pd.read_csv('C:/Users/David/Desktop/Repositorios_Git/DataSets/sql_mortalidad_recetas/Datasets/Mortalitat_Catalunya.csv', delimiter=',')
# En python no se han inducido los tipos de datos bien 

#HAGO QUE PANDAS REEVALUE EL ***TIPO DE DATOS*** ÓPTIMO PARA CADA COLUMNA
df_mortalitat = df_mortalitat.convert_dtypes()

# ***NOMBRES DE COLUMNA***
# Encabezados en catalan y algunos no muy claros
# Aclarar los encabezados y los tipos de datos de cada columna.
df_mortalitat = df_mortalitat.rename(columns={
    "Sexe": "sexo",
    "Edat": "edad",
    "Data": "fecha",
    "Defuncions observades": "defunciones_observadas",
    "Defuncions esperades": "defunciones_esperadas",
    "Defuncions esperades (Límit superior)": "defunciones_esperadas_limite_inf",
    "Defuncions esperades (Límit inferior)": "defunciones_esperadas_limite_sup"
})


# ***CAMPOS FECHA***

# !!!!!! Como en mi string está en formato español el dia está primero.
# Tengo que indicar correctamente si dayfirst = True. Pandas puede equivocarse.
df_mortalitat["fecha"] = pd.to_datetime(df_mortalitat["fecha"], errors='coerce', dayfirst=True)

In [ ]:
# ***LIMPIEZA DATOS*** - Traduccion columnas sexo
df_mortalitat['sexo'] = df_mortalitat['sexo'].str.replace('dones', 'mujer', regex=False)
df_mortalitat['sexo'] = df_mortalitat['sexo'].str.replace('homes', 'hombre', regex=False)
df_mortalitat['sexo'] = df_mortalitat['sexo'].str.replace('tots', 'ambos', regex=False)

df_mortalitat['edad'] = df_mortalitat['edad'].str.replace('edat ', '', regex=False)
df_mortalitat['edad'] = df_mortalitat['edad'].str.replace('>= 65', '65-999', regex=False)
df_mortalitat['edad'] = df_mortalitat['edad'].str.replace('>= 85', '85-999', regex=False)
df_mortalitat['edad'] = df_mortalitat['edad'].str.replace('tots', '0-999', regex=False)

In [ ]:
## CREO COLUMNAS EDAD_MIN, EDAD_MAX para tener 2 campos para el rango de edades.
df_mortalitat[['edad_min','edad_max']] = df_mortalitat['edad'].str.split('-',expand=True)

In [9]:
# *** REEVALUAR TIPO DE DATOS DE LOS DF TRAS LIMPIAR ***

#Tras haber jugado con las columnas me cercioro del tipo de datos

#HAGO QUE PANDAS REEVALUE EL ***TIPO DE DATOS*** ÓPTIMO PARA CADA COLUMNA
df_mortalitat = df_mortalitat.convert_dtypes()
# Corrijo tipos erroneos
# Mortalidad
df_mortalitat['edad_min'] = pd.to_numeric(df_mortalitat['edad_min'], errors='coerce').astype('Int64')
df_mortalitat['edad_max'] = pd.to_numeric(df_mortalitat['edad_max'], errors='coerce').astype('Int64')
df_mortalitat['defunciones_observadas'] = df_mortalitat['defunciones_observadas'].round().astype('Int64')

## ***LIMPIEZA DATOS*** - Buscamos datos NULL
df_mortalitat.isna().sum()

   edad_min edad_max
0        85      999
1         0      999
2        15       44
5        75       84
7         0       14
12       65       74
17       45       64
35       65      999

KeyboardInterrupt:

In [5]:
#TABLAS MORTALIDAD
# tabla mortalidad		id	fecha	id_rango_edad	id_sexo	defunciones_observadas	defunciones_esperadas	defunciones_esperadas_limite_sup	defunciones_esperadas_limite_inf
									
# tabla sexo		id_sexo	sexo_nombre sexo_abreviado						
									
#Creo tabla sexo
df_sexo = df_mortalitat[['sexo']].copy()
df_sexo = df_sexo.drop_duplicates().reset_index().drop(columns='index')
df_sexo['sexo_abreviado'] = df_sexo['sexo'].replace({'ambos':'A', 'hombre':'H', 'mujer':'M'})
df_sexo = df_sexo.rename(columns={'sexo':'sexo_nombre'})
df_sexo = df_sexo.sort_values(by=['sexo_nombre'])
df_sexo['id_sexo'] = df_sexo.reset_index().index+1
df_sexo = df_sexo[['id_sexo', 'sexo_nombre','sexo_abreviado']]
df_sexo.head(10)

   id_sexo sexo_nombre sexo_abreviado
1        1       ambos              A
2        2      hombre              H
0        3       mujer              M

In [6]:
#Creo tabla rango_edad_amplio
# tabla rango_edad_amplio		id_rango	edad_min	edad_max			

df_rango_edad_amplio = df_mortalitat[['edad_min','edad_max']].copy()
df_rango_edad_amplio = df_rango_edad_amplio.drop_duplicates().sort_values(by=['edad_min','edad_max'], ascending=[True,True]).reset_index().drop(columns='index')
df_rango_edad_amplio['id_rango_edad_amplio'] = df_rango_edad_amplio.reset_index().index+1
df_rango_edad_amplio = df_rango_edad_amplio[['id_rango_edad_amplio', 'edad_min','edad_max']]

df_rango_edad_amplio.head(10)

   id_rango_edad_amplio  edad_min  edad_max
0                     1         0        14
1                     2         0       999
2                     3        15        44
3                     4        45        64
4                     5        65        74
5                     6        65       999
6                     7        75        84
7                     8        85       999

In [14]:
# Creo tabla mortalidad final para la BD
# tabla mortalidad		id	fecha	id_rango_edad	id_sexo	defunciones_observadas	defunciones_esperadas	defunciones_esperadas_limite_sup	defunciones_esperadas_limite_inf
df_mortalidad_BD = df_mortalitat.copy()
df_mortalidad_BD = df_mortalidad_BD.merge(df_sexo[['sexo_nombre', 'id_sexo']], left_on='sexo', right_on='sexo_nombre', how='left')
df_mortalidad_BD = df_mortalidad_BD.merge(df_rango_edad_amplio[['edad_min','edad_max', 'id_rango_edad_amplio']], on=['edad_min','edad_max'], how='left')
df_mortalidad_BD = df_mortalidad_BD.drop(columns=['sexo','edad','edad_min','edad_max', 'sexo_nombre'])
df_mortalidad_BD = df_mortalidad_BD.sort_values(by=['fecha',  'id_rango_edad_amplio', 'id_sexo'], ascending=[True,True,True])
df_mortalidad_BD['id_mortalidad'] = df_mortalidad_BD.reset_index().index+1
df_mortalidad_BD = df_mortalidad_BD[['id_mortalidad','fecha','id_sexo','id_rango_edad_amplio', 'defunciones_observadas','defunciones_esperadas', 'defunciones_esperadas_limite_sup','defunciones_esperadas_limite_inf']]
df_mortalidad_BD.head(10000)

,id_mortalidad,fecha,id_sexo,id_rango_edad_amplio,defunciones_observadas,defunciones_esperadas,defunciones_esperadas_limite_sup,defunciones_esperadas_limite_inf
1322,1,2015-01-01,1,1,1,0.78,0,3
33977,2,2015-01-01,2,1,1,0.46,0,3
40133,3,2015-01-01,3,1,0,0.32,0,2
37483,4,2015-01-01,1,2,229,200.35,168,234
46110,5,2015-01-01,2,2,116,99.11,77,123
...,...,...,...,...,...,...,...,...
31812,9996,2016-02-21,3,4,8,6.64,1,13
35000,9997,2016-02-21,1,5,17,23.36,13,35
40275,9998,2016-02-21,2,5,10,15.96,7,26
32213,9999,2016-02-21,3,5,7,7.4,2,14
71114,10000,2016-02-21,1,6,166,171.1,141,202

In [8]:
## *****  INSERCION DATOS EN POSTGRESQL ************
## Insercion tabla sexo
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:root@localhost:5432/Datos_Medicos_Farmaceuticos')
print(engine)

Engine(postgresql://postgres:***@localhost:5432/Datos_Medicos_Farmaceuticos)

In [ ]:
## Insercion tabla sexo
df_sexo[['sexo_nombre','sexo_abreviado']].to_sql('sexo', engine, schema='public', if_exists='append', index=False)

In [9]:
## Insercion tabla rango_edad_amplio
df_rango_edad_amplio[['edad_min','edad_max']].to_sql('rango_edad_amplio', engine, schema='public', if_exists='append', index=False)

8

In [16]:
## Insercion tabla mortalidad
# df_mortalidad_BD.info()
df_mortalidad_BD[['fecha','id_sexo','id_rango_edad_amplio', 'defunciones_observadas','defunciones_esperadas', 'defunciones_esperadas_limite_inf','defunciones_esperadas_limite_sup']].to_sql('mortalidad', engine, schema='public', if_exists='append', index=False)

976